# Supabase Configuration
SUPABASE_URL=https://dxnuvpmbupilgmmczedi.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImR4bnV2cG1idXBpbGdtbWN6ZWRpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM3NTY0NDYsImV4cCI6MjA4OTMzMjQ0Nn0.RvIKv7tbVjNPEaKX1jrfkUCtAWRR4syoMMNBAd6o1c0
